parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method .*\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Unsafe usage of new static\(\).#'
        # Ignore errors from JsonDeserializer not implemented methods
        - '#Keboola\\AzureStorageTableExtractor\\JsonDeserializer#'
