parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method .*\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Unsafe usage of new static\(\).#'
        - '#Access to an undefined property object::\$PartitionKey.#'
        - '#Access to an undefined property object::\$RowKey.#'
        - '#Argument of an invalid type object supplied for foreach, only iterables are supported.#'
        # Ignore errors from JsonDeserializer not implemented methods
        - '#Keboola\\AzureStorageTableExtractor\\JsonDeserializer#'
